<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta
            http-equiv="X-UA-Compatible"
            content="IE=edge"
        />
        <meta
            name="viewport"
            content="width=device-width, initial-scale=1.0"
        />
        <title>FURL | Not Found</title>

        <style>
            body {
                background-color: #293242;
                display: flex;
                justify-content: center;
                align-items: center;
            }
            h3 {
                font-size: 2rem;
                color: #fe5e52;
            }
        </style>
    </head>
    <body>
        <h3>
            This URL is not stored in our database. Please
            try again.
        </h3>
    </body>
</html>
