nav {
    height: 7.5%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 5%;
    border-bottom: 1px solid var(--accent);
    z-index: 200;
}

.nav-links {
    width: 10rem;
    font-size: 1.1rem;
    padding: 0.5rem 1.5rem;
}
