.sign-in {
    width: 100%;
    height: 100%;
    overflow: hidden;
    margin: 0;
    padding: 0;
    z-index: 100;
    position: absolute !important;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--dark-translucent);
    opacity: 0;
    pointer-events: none;
    transition: all 0.5s ease-in;
}

.sign-in.shown {
    opacity: 1;
    pointer-events: all;
}

.container-100 {
    transform: translateY(-50%);
    height: 100%;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: all 0.6s;
}

.sign-in.shown .container-100 {
    transform: translateY(0%);
}

.card-container {
    height: 75%;
    width: 85%;
    position: relative;
    perspective: 800px;
    background-color: var(--background-translucent);
}

.card {
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
    transition: transform 0.8s
        cubic-bezier(0.175, 0.885, 0.32, 1.275);
    border: 2px solid var(--accent);
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card.flipped {
    transform: rotateY(180deg);
}

.front * {
    backface-visibility: hidden;
}

.front,
.back {
    position: absolute;
    width: 100%;
    height: 75%;
    backface-visibility: hidden;
    padding: 2rem;
    transform: rotateY(0deg);
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.back {
    transform: rotateY(180deg);
}

.form {
    justify-content: center;
    height: 75%;
    width: 75%;
}

.back > form {
    gap: 0.5rem;
}

.form-field {
    display: flex;
    position: relative;
    margin: 0.75rem 0;
}

.form .form-field:last-of-type {
    margin-bottom: 1.5rem;
}

.icon {
    height: 1rem;
    display: inline-block;
    fill: var(--light);
    width: 1rem;
    vertical-align: middle;
}

.hide {
    display: none;
}

.icons {
    display: none;
}

.form-input {
    border: 2px solid transparent;
    color: inherit;
    margin: 0;
    outline: 0;
    padding: 0;
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
    font-size: 1.25rem;
}

.form-input:focus {
    border-color: var(--accent);
}

.form-input::placeholder {
    color: var(--light-translucent);
}

.form label,
.form-input {
    border-radius: 10px;
    padding: 1rem;
}

.form label {
    background-color: var(--dark-translucent);
    border: 1.5px solid transparent;
    border-right-color: var(--accent);
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
    padding-left: 1.25rem;
    padding-right: 1.25rem;
    display: grid;
    place-items: center;
    font-size: 1.25rem;
}

.form-input {
    background-color: var(--dark-translucent);
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
    color: var(--light);
}

@media (max-width: 700px) {
    .container-100 {
        width: 100%;
        height: 35rem;
    }

    .card-container {
        width: 95%;
        height: 100%;
    }

    .back {
        height: 100%;
    }

    .form {
        width: 100%;
        height: 25rem;
    }

    .flip-btn {
        width: 100%;
    }
}
